/* Top level styles */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #f7f7f7;
  margin: 0;
  line-height: 1.42857;
  min-height: 100%;
  min-width: 350px;
  position: relative;
}